@{
    ViewData["Title"] = "Home Page";
}

<div id="main-wrapper" ng-app="BookingApp" ng-controller="BookingController">
    <div class="">

        <div class="page-title">
            <h3 class="breadcrumb-header ">Welcome to NH India.</h3>
        </div>

    </div>

</div>